.btn{
    display: block;
    line-height: $headerHeight;
    font-weight: 600;
    transition: all 0.5s linear;
}
.btn-rounded{
    border-radius: 50px;
}
.btn-tcolor:hover{
    color: $fColor;
}
.btn-blue{
    background-color: $blueBtn;
}
.btn-blue:hover{
    background-color: darken($blueBtn, 20%);
}