body{
    margin: auto;
    font-family: $dFont;
    font-size: 14px;
    font-weight: 300;
    color: $dFcolor;
    background: $dBgcolor;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1366px;
    min-width: 1000px;
}
//anchor tag
a{
    color: inherit;
    text-decoration: none;
}
//
img{
    width: 100%;
    height: 100%;
}s
.rightSide, .leftSide{
    
}