
$dBgcolor: #f4f7f6;
$dFont: "apercu",sans-serif;
$footerBg: rgba(0,0,0,0.75);
$blueBtn: #49c5b6;
$yellowBtn: #ECD06F;

//header height
$headerHeight: 5rem;
$headerBorderColor: rgba(#656c7a, 0.7);

// font colors
$fColor: #656c7a;
$dFcolor: #202121;
$fColor2: #17dfc7;
